<div class="control-group">
  <div class="controls">
    {{combo-box content=subjects
                value=subject
                none='inline_composer.tags.none.subject'}}
  </div>
</div>

<div class="control-group">
  <div class="controls">
    {{combo-box content=parties
                value=party
                none='inline_composer.tags.none.party'}}
  </div>
</div>

<div class="control-group">
  <div class="controls">
    {{combo-box content=actions
                value=action
                none='inline_composer.tags.none.action'}}
  </div>
</div>
