.discovery-inline-composer {
  border: none !important;

  .inline-composer {
    border: none !important;

    .title-length {
      margin-left: 10px;
    }

    .title-tip {
      line-height: 20px;
    }

    .btn.next {
      max-height: 30px;
    }

    .d-editor-button-bar {
      flex-flow: wrap;
      font-size: 0.9em;

      .btn {
        padding: 4px 7px;
      }
    }

    .editor-gutter {
      flex-flow: wrap;

      .mini-tag-chooser {
        display: block;
      }

      .tip {
        display: block;
        white-space: normal;
        margin-left: 0;
        margin-top: 10px;
      }
    }

    .gutter .editor-controls {
      .show-composer, .show-preview {
        width: initial;
        margin: 0 5px;
      }
    }
  }
}

#reply-control .title-and-category {
  min-height: initial;
}

#reply-control .create-type-control {
  margin: 10px 0;
}
