.discovery-title-composer {
  border: none !important;

  .title-composer {
    border: none !important;

    .title-length {
      margin-left: 10px;
    }

    .title-tip {
      line-height: 20px;
    }

    .btn.next {
      max-height: 30px;
    }
  }
}

#reply-control .title-and-category {
  min-height: initial;
}

#reply-control .create-type-control {
  margin: 10px 0;
}
