.discovery-inline-composer {
  border: none !important;

  .inline-composer {
    border: none !important;

    .inline-composer-title-wrapper input {
      max-width: calc(100% - 100px);
    }

    .featured-link {
      i.d-icon-external-link {
        padding: 0 20px 0 14px;
      }

      input {
        max-width: calc(100% - 100px);
      }
    }

    .title-length {
      margin-left: 10px;
    }

    .title-tip {
      line-height: 20px;
    }

    .btn.next {
      max-height: 30px;
    }

    .d-editor-button-bar {
      flex-flow: wrap;
      font-size: 0.9em;

      .btn {
        padding: 4px 7px;
      }
    }

    .editor-gutter {
      flex-flow: wrap;

      .tip {
        display: block;
        white-space: normal;
        margin-left: 0;
        margin-top: 10px;
      }
    }

    .inline-gutter .editor-controls {
      .show-composer, .show-preview {
        width: initial;
        margin: 0 5px;
      }
    }

    .inline-meta {
      .civically-tag-chooser, .civically-tag-chooser + .toggle-tags {
        margin-top: 10px;
      }
    }
  }
}

#reply-control .title-and-category {
  min-height: initial;
}

#reply-control .create-type-control {
  margin: 10px 0;
}
