<section class='field'>
  <label>{{i18n 'category.topic_types'}}</label>
  {{list-setting settingValue=category.custom_fields.topic_types
                 choices=choices
                 settingName='category.topic_types'}}
</section>
