$general: $tertiary;
$content: #F5900E;
$question: #09A38C;
$event: #02173E;
$rating: #BF0C2B;

.general-border {
  box-shadow: 0 0px 3px 5px rgba($tertiary, 0.25);
  border: 2px solid $tertiary;
}

.content-border {
  box-shadow: 0 0px 3px 5px rgba($content, 0.25);
  border: 2px solid $content;
}

.question-border {
  box-shadow: 0 0px 3px 5px rgba($question, 0.25);
  border: 2px solid $question;
}

.event-border {
  box-shadow: 0 0px 3px 5px rgba($event, 0.25);
  border: 2px solid $event;
}

.rating-border {
  box-shadow: 0 0px 3px 5px rgba($rating, 0.25);
  border: 2px solid $rating;
}

.general-background {
  background-color: $general;
  color: $secondary;
}

.content-background {
  background-color: $content;
  color: $secondary;
}

.question-background {
  background-color: $question;
  color: $secondary;
}

.event-background {
  background-color: $event;
  color: $secondary;
}

.rating-background {
  background-color: $rating;
  color: $secondary;
}

.btn.icon-right .fa {
  margin-left: 7px;
  margin-right: 0;
}

.btn.icon-right.no-text .fa {
  margin-left: 0;
}

.discovery-inline-composer .inline-composer {
  position: relative;
  padding: 15px;
  background-color: $secondary;
  border-top: 1px solid $primary-low;
  border-left: 1px solid $primary-low;
  border-right: 1px solid $primary-low;
  border-radius: 4px;

  &.hide-input {
    padding: 0;
  }

  .inline-composer-title {
    position: relative;

    .inline-composer-title-wrapper {
      display: flex;
    }

    .similar-titles {
      position: absolute;
      width: calc(100% - 84px);
      left: 40px;
      top: 40px;
      z-index: 10;
      background-color: $secondary;

      ul {
        border: 1px solid $primary-low;
      }
    }
  }

  .featured-link {
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px;
    display: inline-flex;

    i.d-icon-external-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
    }

    a {
      word-wrap: break-word;
      color: $secondary;
    }

    .remove-featured-link {
      padding-left: 10px;
    }

    .add-featured-link {
      background-color: $secondary;
      color: $primary;
    }

    input {
      margin-bottom: 0;
      border: none;
      border-radius: 4px;
      margin-right: 5px;
      width: 410px;
    }
  }

  .avatar {
    margin-right: 12px;
    margin-top: 7px;
    margin-left: 2px;
    flex: 0 1 auto;
  }

  .inline-composer-title-wrapper input {
    border-radius: 4px;
    margin: 0;
    padding: 5px 10px;
    flex: 1 2 auto;
    height: 25px;
    max-width: 600px;
    color: $primary;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $tertiary;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $tertiary;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $tertiary;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $tertiary;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $tertiary;
    }
    &::placeholder {
      color: $tertiary;
    }

    &:disabled {
      background-color: #f9f9f9;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #ddd;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #ddd;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #ddd;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ddd;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #ddd;
      }
    }
  }

  .right-of-input {
    margin-left: 15px;
    text-align: center;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    width: 30px;

    .btn {
      padding: 6px 9px;
      width: 30px;
    }

    .btn.times {
      background-color: $danger;
      color: $secondary;
    }

    .btn.check {
      background-color: $secondary;
      color: $success;
    }

    .btn.exclamation {
      background-color: $highlight;

      &:hover {
        color: $primary;
      }
    }
  }

  .title-tip {
    color: dark-light-diff($primary, $secondary, 45%, -30%);
    float: left;
    line-height: 30px;
    padding-top: 10px;
    margin: 0 4px;

    &.right {
      float: right;
    }

    &.active {
      color: dark-light-choose(#fff, scale-color($primary, $lightness: 60%));
      background: $tertiary;
    }
  }

  .inline-meta {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    .civically-tag-chooser {
      margin-left: 10px;
    }
  }

  .create-message {
    display: inline-block;

    .badge-wrapper {
      margin: 0 0 0 4px;
    }
  }

  .inline-properties {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    div {
      margin-right: 10px;
    }
  }

  .inline-gutter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .title-tip {
      padding: 0;
      flex: 0 2 auto;
    }

    .right, .left {
      display: flex;
      align-items: center;
    }

    .right {
      margin-left: auto;
    }

    .left-ancillary, .right-ancillary {
      min-width: 60px;
      text-align: center;
    }

    .right-ancillary {
      .fa-times {
        color: $danger;
      }
    }

    .post-error {
      flex: 1;
      text-align: left;
    }

    &+ .post-error {
      display: inline-block;
      margin-top: 10px;
    }

    .add-message {
      margin-right: 10px;
    }
  }

  > div:first-of-type.inline-gutter {
    padding-top: 0;
  }

  .rating-container {
    padding: 5px 10px;
    background-color: $rating;
    color: $secondary;
    border-radius: 4px;
  }

  .add-event, .add-event + button, .add-location-btn, .add-location-btn + button {
    border: none;
    background-color: $event;
    color: $secondary;
  }

  .composer-component {
    width: 100%;
    display: inline-block;
  }

  &.foreign-place, &.foreign-country, &.no-category {
    padding: 5px;

    .inline-gutter {
      padding-top: 0;
    }
  }

  .location-label, .event-label {
    display: flex;

    .btn.remove {
      margin-left: 5px;
      max-height: 33px;
    }
  }
}

.post-error {
  color: $danger;
}

.topic-type-container {
  padding-top: 15px;

  div.topic-type {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 6px;
    }

    button {
      width: 93px;
      margin-right: 15px;
    }
  }
}

#reply-control .create-type-control {
  margin-bottom: 10px;

  span, .select-box-kit {
    display: inline-block;
    vertical-align: middle;
  }

  .select-box-kit {
    margin: 0 5px;

    .select-box-kit-header {
      padding: 4px 8px;
    }
  }
}

#reply-control.topic .reply-to {
  display: none;
}

.inline-component-event {
  clear: both;

  .event-label, .location-label {
    padding: 5px 0;
  }
}

#reply-control .title-and-category {
  .title-input {
    margin-right: 5px;
  }

  .composer-fields-outlet {
    button {
      border-radius: 0;
    }
  }
}

.create-message .type-selector {
  width: 130px !important;
  min-width: 130px !important;

  .select-kit-header {
    border-radius: 4px;
  }
}

.inline-composer .similar-titles li {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 5px;

  a {
    display: inline-block;
  }
}

.inline-composer.has-similar-titles .inline-gutter {
  padding-top: 0;
}

.inline-composer .d-editor {
  position: relative;
}

.inline-composer button.emoji {
  position: relative;
}

.inline-composer .emoji-picker {
  position: absolute;
  left: 320px !important;
  top: 0;
  bottom: initial !important;
}

.inline-component-rating {
  margin: 20px 0 5px 0;
}

.inline-composer {
  .d-editor-textarea-wrapper, .d-editor-preview-wrapper {
    border-radius: 4px;
  }

  &.general {
    .d-editor-textarea-wrapper, .d-editor-preview-wrapper, .inline-composer-title-wrapper input {
      @extend .general-border;
    }

    .btn.post {
      @extend .general-background;
    }
  }

  &.content {
    .d-editor-textarea-wrapper, .d-editor-preview-wrapper, .inline-composer-title-wrapper input {
      @extend .content-border;
    }

    .featured-link {
      background-color: $content;
      color: $secondary;
    }

    .btn.post {
      @extend .content-background;
    }
  }

  &.question {
    .d-editor-textarea-wrapper, .d-editor-preview-wrapper, .inline-composer-title-wrapper input {
      @extend .question-border;
    }

    .btn.post {
      @extend .question-background;
    }
  }

  &.event {
    .d-editor-textarea-wrapper, .d-editor-preview-wrapper, .inline-composer-title-wrapper input {
      @extend .event-border;
    }

    .btn.post {
      @extend .event-background;
    }
  }

  &.rating {
    .d-editor-textarea-wrapper, .d-editor-preview-wrapper, .inline-composer-title-wrapper input {
      @extend .rating-border;
    }

    .featured-link {
      background-color: $rating;
      color: $secondary;
    }

    .btn.post {
      @extend .rating-background;
    }
  }
}

.inline-component-editor {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .d-editor {
    min-height: 170px;
  }

  .editor-controls {
    position: absolute;
    top: 8px;
    right: 10px;

    a.show-composer, a.show-preview {
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
      color: $primary-medium;

      .fa {
        margin-right: 7px;
      }
    }
  }

  .editor-gutter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
    z-index: 1;

    .tip {
      margin-left: 10px;
      white-space: nowrap;
    }

    .uploading {
      margin: 0 5px;
      white-space: nowrap;
    }

    .body-length {
      margin-left: auto;
    }

    .invalid-length {
      color: $danger;
    }
  }

  .d-editor-input {
    resize: vertical;
  }

  .d-editor-preview-wrapper {
    display: none;
    max-width: 100%;
    margin-left: 0;
    padding-top: 30px;
    border: 1px solid $primary-medium;

    .d-editor-preview {
      border-top: 1px solid $primary-low;
      padding: 10px;
    }
  }
}

.civically-tag-chooser {
  display: inline-flex;

  div.control-group {
    margin-right: 10px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }

    .select-kit-header {
      border-radius: 4px;
    }
  }
}

#reply-control .civically-tag-chooser, .edit-topic-outlet .civically-tag-chooser {
  margin-bottom: 10px;
}

.inline-component-content .civically-tag-chooser {
  position: absolute;
  bottom: 20px;
}

.type-selector .select-kit-header, .type-selector .select-kit-header.is-focused {
  &[data-value="general"] {
    @extend .general-border;
  }
  &[data-value="content"] {
    @extend .content-border;
  }
  &[data-value="question"] {
    @extend .question-border;
  }
  &[data-value="event"] {
    @extend .event-border;
  }
  &[data-value="rating"] {
    @extend .rating-border;
  }
}

#topic-title  {
  .topic-header-extra {
    a.topic-featured-link {
      display: none;
    }
  }

  .content-featured-link {
    margin-bottom: 5px;
    width: 100%;

    a.topic-featured-link {
      font-size: 1.1em;

      &:before {
        padding-right: 5px;
      }
    }
  }
}
