.btn.icon-right .fa {
  margin-left: 7px;
  margin-right: 0;
}

.btn.icon-right.no-text .fa {
  margin-left: 0;
}

.discovery-inline-composer .inline-composer {
  position: relative;
  padding: 15px;
  background-color: $secondary;
  border-top: 1px solid $primary-low;
  border-left: 1px solid $primary-low;
  border-right: 1px solid $primary-low;
  border-radius: 4px;

  &.hide-input {
    padding: 0;
  }

  .title-fields {
    display: flex;
  }

  .avatar {
    margin-right: 12px;
    margin-top: 7px;
    margin-left: 2px;
    flex: 0 1 auto;
  }

  input {
    box-shadow: 0 0px 3px 2px rgba($tertiary-medium, 0.25);
    border: 1px solid $primary-medium;
    border-radius: 4px;
    margin: 0;
    padding: 5px 10px;
    flex: 1 2 auto;
    height: 25px;
    max-width: 600px;
    color: $primary;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $tertiary;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $tertiary;
      opacity: 1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $tertiary;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $tertiary;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $tertiary;
    }
    &::placeholder {
      color: $tertiary;
    }

    &:disabled {
      background-color: #f9f9f9;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #ddd;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #ddd;
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #ddd;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ddd;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #ddd;
      }
    }
  }

  .right-of-input {
    margin-left: 15px;
    margin-top: 11px;
    width: 20px;
    text-align: center;
    flex: 0 1 auto;

    &.invalid {
      color: $danger;
    }
  }

  .title-tip {
    color: dark-light-diff($primary, $secondary, 45%, -30%);
    float: left;
    line-height: 30px;
    padding-top: 10px;
    margin: 0 4px;

    &.right {
      float: right;
    }

    &.active {
      color: dark-light-choose(#fff, scale-color($primary, $lightness: 60%));
      background: $tertiary;
    }
  }

  .create-message {
    margin: 15px 0 10px 0;

    .badge-wrapper {
      margin: 0 0 0 4px;
    }
  }

  .composer-properties {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    > div {
      margin: 0 10px 10px 0;
    }

    .btn {
      padding: 3px 6px;
    }
  }

  .gutter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    min-height: 40px;

    .title-tip {
      padding: 0;
      flex: 0 2 auto;
    }

    .right, .left {
      display: flex;
      align-items: center;
    }

    .right {
      margin-left: auto;
    }

    .left-ancillary, .right-ancillary {
      min-width: 60px;
      text-align: center;

      .fa-times {
        color: $danger;
      }
    }

    .post-error {
      flex: 1;
      text-align: left;
    }

    &+ .post-error {
      display: inline-block;
      margin-top: 10px;
    }

    .editor-controls {
      flex: 1;
      text-align: center;

      .show-composer, .show-preview {
        margin: 0 10px;
        display: inline-flex;
        align-items: center;

        .fa {
          margin-right: 7px;
        }
      }
    }
  }

  > div:first-of-type.gutter {
    padding-top: 0;
  }

  .add-event, .add-event + button, .add-location-btn, .add-location-btn + button {
    border: none;
  }

  .composer-component {
    width: 100%;
    display: inline-block;
  }

  &.foreign-place, &.foreign-country, &.no-category {
    padding: 5px;

    .gutter {
      padding-top: 0;
    }
  }

  .location-label, .event-label {
    display: flex;

    .btn.remove {
      margin-left: 5px;
      max-height: 33px;
    }
  }
}

.post-error {
  color: $danger;
}

.topic-type-container {
  padding-top: 15px;

  div.topic-type {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 6px;
    }

    button {
      width: 93px;
      margin-right: 15px;
    }
  }
}

#reply-control .create-type-control {
  margin-bottom: 10px;

  span, .select-box-kit {
    display: inline-block;
    vertical-align: middle;
  }

  .select-box-kit {
    margin: 0 5px;

    .select-box-kit-header {
      padding: 4px 8px;
    }
  }
}

#reply-control.topic .reply-to {
  display: none;
}

.tag-chooser {
  margin: 8px 0;
}

.inline-component-event {
  clear: both;

  .event-label, .location-label {
    padding: 5px 0;
  }
}

#reply-control .title-and-category {
  .title-input {
    margin-right: 5px;
  }

  .composer-fields-outlet {
    button {
      border-radius: 0;
    }
  }
}

.create-message .type-selector {
  width: 130px !important;
  min-width: 130px !important;
  margin: 0 3px;
}

.inline-composer .similar-titles li {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 5px;

  a {
    display: inline-block;
  }
}

.inline-composer.has-similar-titles .gutter {
  padding-top: 0;
}

.inline-composer .right-of-input {
  .fa-times {
    color: $danger;
  }

  .fa-check {
    color: $success;
  }
}

.inline-composer .d-editor {
  position: relative;
}

.inline-composer button.emoji {
  position: relative;
}

.inline-composer .emoji-picker {
  position: absolute;
  left: 320px !important;
  top: 0;
  bottom: initial !important;
}

.inline-component-rating {
  margin: 20px 0 5px 0;
}

.inline-component-editor {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  .d-editor {
    min-height: 170px;
  }

  .editor-gutter {
    margin-top: 10px;
    display: flex;
    align-items: center;

    .tip {
      margin-left: 10px;
      white-space: nowrap;
    }

    .mini-tag-chooser {
      margin: 0;
    }

    .uploading {
      margin: 0 5px;
      white-space: nowrap;
    }

    .body-length {
      margin-left: auto;
    }

    .invalid-length {
      color: $danger;
    }
  }

  .d-editor-input {
    resize: vertical;
  }

  .d-editor-preview-wrapper {
    display: none;
    max-width: 100%;
    margin-left: 0;
    padding: 10px;
    border: 1px solid $primary-medium;
  }
}
